html  {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/image/Open_Rails_2024-01-05_09-33-59.png');    
    background-size: cover;
    display: flex;
    justify-content: center;
}

body {
    color: black;
    background-color: rgb(255, 252, 231);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    width: 970px;
    font-family: Ubuntu, 'Liberation Sans', sans-serif;;
}